h1, h4, h6 {
  color: rgb(165,28,36);
  text-align: center;
}
h5{
  color:rgb(165,28,36);
  text-align: center;
}
h2{
  margin-top:5vh;
  color: rgb(165,28,36);
  text-align: center;
}
.header{
  background-color: #dddddd;
  margin-bottom: 0;
}

img {
  position: absolute;
  top:0;
  left:0;
  display: block;
  margin-top: 2.5vh;
  width:5vh;
  align-items: left;
}

/*
.container {
  display: flex;
  gap: 15px; 
}

.image-column {
  flex: 1;
}
.image-column {
  flex: 1;
  box-shadow: 0 0 10px red; /* Adjust the shadow as desired 
}*/

table{
  border-collapse: collapse;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

th,td{
  border: 1px solid black;
  text-align: center;
}
th{
  width:30%;
}

body{
  background-color: #f7f8f1;
}

.header2{
  background-color:rgb(165,28,36) ;
  height:5vh;
  margin-top: 0;
}
/*
h3{
  color:rgb(165,28,36) ;
}*/